* {
  margin: 0px;
  padding: 0px;
}

.logo {
  position: absolute;
  top: 28px;
  left: 50px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hero {
  margin: 0 auto;
  width: 651px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.card img {
  width: 391px;
  height: 565px;
  padding-top: 37px;
  padding-right: 30px;
  padding-bottom: 37px;
}

.heading {
  text-align: center;
}

.heading p {
  color: #94a3b8;
  font-size: 14px;
  margin-top: 15px;
}
.btn {
  border-radius: 22px;
  padding: 9px 51px 9px 50px;
  border: 2px solid black;
  font-weight: 600;
  background-color: white;
}
.gLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  margin: 0 auto;
  gap: 10px;
  border: 2.9px solid #e2e8f0;
  background-color: #ffffff;
  border-radius: 3rem;
  padding: 12px 30px 12px 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.gicon {
  width: 26px;
  height: 26px;
}

a{
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
